<div class="results-center results-search-bar">
    <form id="filter-form">
        <label for="age-filter">Age</label>
        <select id="age-filter" name="age">
            <option value="all">All</option>
            {{#each dogAgeList as |ageNum| }}
            <option value="{{ageNum}}">{{ageNum}}</option>
            {{/each}}
        </select>

        <label for="breed-filter">Breed</label>
        <select id="breed-filter" name="breed">
            <option value="all">All</option>
            {{#each dogBreedList as |breed| }}
            <option value="{{breed}}">{{breed}}</option>
            {{/each}}
        </select>

        <label for="size-filter">Size</label>
        <select id="size-filter" name="size">
            <option value="all">All</option>
            {{#each dogSizeList as |sizeNum| }}
            <option value="{{sizeNum}}">{{sizeNum}}</option>
            {{/each}}
        </select>

        <label for="sex-filter">Sex</label>
        <select id="sex-filter" name="sex">
            <option value="all">All</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        
        <label for="color-filter">Color</label>
        <select id="color-filter" name="color">
            <option value="all">All</option>
            {{#each dogColorList as |color| }}
            <option value="{{color}}">{{color}}</option>
            {{/each}}
        </select>
        <input id="filter-submit" type="submit" value="Apply">
    </form>
</div>

{{#if dogs}}
{{#each dogs as |dog| }}

<div class="results-center container potato">
<div class="results-left row">
<p class="results-header results-words col-6"><span>{{dog.name}}</span></p>
<p class="results-words col-6"><img class="results-words" src="images/results.PNG" width="100px" height="100px"></p>
</div>
<div class="results-right ">
<p class="results-words col-12">Age: <span class="results-stats">{{dog.age}}</span></p>
<p class="results-words col-12">Breed: <span class="results-stats">{{dog.breed}}</span></p>
<p class="results-words col-12">Size: <span class="results-stats">{{dog.size}}</span></p>
<p class="results-words col-12">Sex: <span class="results-stats">{{dog.sex}}</span></p>
<p class="results-words col-12">Color: <span class="results-stats">{{dog.color}}</span></p>
<p class="results-words col-12">Description: <span class="results-stats">{{dog.description}}</span></p>
</div>
</div>
<br>
{{/each}}
{{/if}}

{{!-- if there aren't any dogs yet, this will appear --}}
{{#unless dogs}}
<div class="results-words results-header results-first">Be the first to showcase your dog!</div>
{{/unless}}

<script src="/js/results.js"></script>